@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
  background-color: #faf9f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.FAR__Header {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/DocsAgain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.FAR__Header-Nav {
  height: 20%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FAR__Header-Nav > a img {
  max-width: 80px;
  margin-left: 1rem;
}

.FAR__Header-Nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FAR__Header-Nav > ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 1rem;
}

.FAR__Header-Nav > ul li a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FAR__Header-Nav > ul li a::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: red;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0.6rem;
  opacity: 0%;
}

.FAR__Header-Nav > ul li a:hover {
  color: red;
}

.FAR__Header-Nav > ul li a:hover::after {
  top: 0rem;
  opacity: 100%;
}

.FAR__Header-Splash {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}

.FAR__Header-Splash h1 {
  font-size: 4rem;
}

.FAR__Header-Splash > img {
  width: 20%;
}

/* ---- MAIN ---- */
.Right {
  flex-direction: row-reverse;
}

.FAR__Main {
  width: 90%;
  margin: 10rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.FAR__Main > div > div {
  width: 50%;
}

.FAR__Main > div h2 {
  font-size: 2.5rem;
}

.FAR__Main img {
  width: 25%;
  aspect-ratio: 1/1;
  filter: grayscale(1);
  border: 0.4rem solid red;
  border-radius: 0.5rem;
}

.FAR__Main li {
  margin-left: 1rem;
}

.line {
  width: calc(177vh);
  position: relative;
  left: 8rem;
  top: 101.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  background-color: red;
  transform: rotate(-90deg);
  z-index: 100;
}

.circle {
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.circle_one {
  top: 64rem;
  left: 58.7rem;
}

.circle_two {
  top: 100rem;
  left: 58.7rem;
}

.circle_three {
  top: 135rem;
  left: 58.7rem;
}

/* ---- FOOTER ---- */
footer {
  margin-top: 5rem;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

footer > h2 {
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > h2::after {
  content: "";
  width: 100%;
  background-color: red;
  height: 0.4rem;
  position: relative;
  top: -0.5rem;
  border-radius: 0 0 0.2rem 0.2rem;
}

footer > ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > ul > li {
  margin: 0 1rem;
  list-style-type: none;
}

footer > ul > li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > ul > li a::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: red;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0.6rem;
  opacity: 0%;
}

footer > ul > li a:hover {
  color: red;
}

footer > ul > li a:hover::after {
  top: 0rem;
  opacity: 100%;
}
