@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
  background-color: #faf9f6;
  box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.FAR__Header {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/Docs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.FAR__Header-Nav {
  height: 20%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FAR__Header-Nav > a img {
  max-width: 80px;
  margin-left: 1rem;
}

.FAR__Header-Nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FAR__Header-Nav > ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 1rem;
}

.FAR__Header-Nav > ul li a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FAR__Header-Nav > ul li a::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: red;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0.6rem;
  opacity: 0%;
}

.FAR__Header-Nav > ul li a:hover {
  color: red;
}

.FAR__Header-Nav > ul li a:hover::after {
  top: 0rem;
  opacity: 100%;
}

.FAR__Header-Splash {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}

.FAR__Header-Splash h1 {
  font-size: 4rem;
}

.FAR__Header-Splash > img {
  width: 20%;
}

/* ---- MAIN ---- */
main {
  width: 100%;
  margin: 5rem 0;
}

.FAR__Main-Services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FAR__Main-Services > h2 {
  font-size: 3rem;
}

.FAR__Main-Services__Wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FAR__Main-Services-Div {
  width: 20%;
  margin: 3%;
}

.FAR__Main-Services-Div > p {
  margin: 1rem;
}

.redacted {
  background-color: black;
  border-radius: 0.3rem;
  padding: 0.1rem;
  color: black;
}

.FAR__Main-RealWorld {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 10%;
}

.FAR__Main-RealWorld div:nth-child(1) {
  width: 45%;
}

.FAR__Main-RealWorld div:nth-child(1) h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.FAR__Main-RealWorld div:nth-child(2) {
  width: 45%;
}

.FAR__Main-RealWorld div:nth-child(2) img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 20px #000;
  filter: grayscale(1);
}

.FAR__Main-Img {
  height: 400px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track .image {
  width: 40vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% center;
  margin-top: 25rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

#image-track .image:hover {
  box-shadow: 0 0 20px #000;
}

body.menu-toggled .meta-link span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/* ---- FOOTER ---- */
footer {
  margin-top: 5rem;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

footer > h2 {
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > h2::after {
  content: "";
  width: 100%;
  background-color: red;
  height: 0.4rem;
  position: relative;
  top: -0.5rem;
  border-radius: 0 0 0.2rem 0.2rem;
}

footer > ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > ul > li {
  margin: 0 1rem;
  list-style-type: none;
}

footer > ul > li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > ul > li a::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: red;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0.6rem;
  opacity: 0%;
}

footer > ul > li a:hover {
  color: red;
}

footer > ul > li a:hover::after {
  top: 0rem;
  opacity: 100%;
}

/* -- CAROUSEL -- */
.slider {
  width: 60%;
  margin-left: 20%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10rem;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide h2 {
  font-size: 2.5rem;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 50%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

.manual-btn {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: red;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 460px;
  margin-left: 5%;
}

.navigation-auto div {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: red;
}
